* {
    font-family: "Arial narrow", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    font-size: 34px;
    text-align: center;
    color: white;
}

h2 {
    background: #1E1944;
    color: white;
    text-align: center;
    margin: 20px;
}

h3 {
    color: #1E1944;
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px;
}

ul {
    list-style: none;
    text-align: right;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
/* -----------------header---------------- */
header {
    display: flex;
    background: #1E1944;
    padding: 10px;
    align-items: center;
    justify-content: start;
}

.logo {
    background: url(images/logo.png) center center / contain no-repeat;
    padding: 20px;
}

.header-links a {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    margin: 0 10px;
}

.header-links a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: white;
    bottom: -3px;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.4s all;
}

.header-links a:hover:before {
    width: 100%;
}

/* -----------------main---------------- */
.pic {
    display: flex;
    background: url(images/main.jpg) center center / cover no-repeat;
    height: 750px;
    align-items: center;
    justify-content: center;
}

.connect-btn {
    width: 200px;
}

section {
    padding: 4px;
    background: #1E1944;
}

.text {
    padding: 30px 50px;
    background: white;
    color: #1E1944;
    font-size: 20px;
}

.text p {
    margin: 20px 0;
}

.trips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trips__item {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 32.9%;
    margin: 2px;
    background-color: white;
    color: #1E1944;
}

.trips__title {
    font-size: 16px;
    margin: 35px 0;
}

.trips__title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 40%;
    margin: 15px auto;
    border: 2px solid #FECB1D;
}

.trips__pic {
    max-width: 120px;
    height: 120px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.moscow {
    background-image: url(icons/moscow.png);
}
.europe {
    background-image: url(icons/big-ben.png);
}
.africa {
    background-image: url(icons/pyramids.png);
}
.n-america {
    background-image: url(icons/north-america.png);
}
.s-america {
    background-image: url(icons/south-america.png);
}
.australia {
    background-image: url(icons/kangaroo.png);
}

.icon {
    width: 140px;
}

.send-question {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #1E1944;
    background: white;
    padding: 40px 0;
}

.send-question h3 {
    font-weight: 300;
    text-transform: none;
}

.send-question__btn {
    width: 250px;
}

/* --------------footer---------------- */
footer {
    display: flex;
    background: hsl(247, 46%, 18%);
    color: white;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

footer div {
    width: 33.333%;
}

.footer-contacts p, li {
    margin: 10px 0;
}


.footer-logo {
    width: 100px;
}

/* --------- PopUp ------------ */
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(30,25,68, 0.7);
}

.guess {
    margin: 0 auto;
    width: 400px;
    position: relative;
    border: 4px solid #FECB1D;
    padding: 30px 20px;
    background-color: white;
}
.guess:before {
    content: "";
    position: absolute;
    background: url(images/logo.png) center / contain no-repeat;
    padding: 36px;
    left: 0;
    right: 0;
    top: -40px;
    margin: 0 auto;
}
.guess:after {
    content: "\2716";
    position: absolute;
    background-color: #FECB1D;
    width: 36px;
    font-size: 28px;
    text-align: center;
    top: -20px;
    right: -15px;
}
.guess__input {
    color: #1E1944;
    border: 2px solid #FECB1D;
    font-size: 20px;
}
.guess input {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

textarea {
    box-sizing: border-box;
    margin: 10px 0 0;
    width: 100%;
}

/* ----------others------------- */
.text-orange {
    color: #FECB1D;
}
.text-large {
    font-size: 24px;
}

.btn {
    margin: 20px auto;
    background-color: #1E1944;
    border-left: 3px solid #FECB1D;
    color: white;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    text-transform: lowercase;
}

.btn-bordered {
    border: 2px solid #FECB1D;
}